<h2>Performance Report</h2>
<div class="media">
  <div class="media-body">
    <%= form_tag(performance_report_masters_path, :method => "get", class: 'navbar-form navbar-left') do %>
      <div class="input-group">
        <%= select_tag :inspector, options_for_select(@inspectors, params[:inspector]), prompt: "Select inspector", class: "form-control" %>
        <div class="input-group-btn">
          <%= button_tag " Search", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
          <%= button_tag " Print", :class => 'btn btn-default glyphicon glyphicon-print',:name => 'print', value: 1%>
          <%= button_tag " Regenerate", :class => 'btn btn-default glyphicon glyphicon-retweet',:name => 'regenerate', value: 1%>
          <%= button_tag " Export", :class => 'btn btn-default glyphicon glyphicon-export', :name => 'export', value: 1 %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br/>
<div class="table-wrapper">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th style= "text-align: left;">PDA MAC/NO</th>
        <th style= "text-align: left;">Inspector</th>
        <th style= "text-align: left;">Start</th>
        <th style= "text-align: left;">Finish</th>
        <th style= "text-align: left;">Total</th>
        <th style= "text-align: left;">Location</th>
        <th style= "text-align: left;">SKU</th>
        <th style= "text-align: left;">QTY</th>
        <th style= "text-align: left;">Value</th>
      </tr>
    </thead>
    <tbody>
      <% @performance_reports.each do |r| %>
        <tr>
          <td style= "text-align: left;"><%= r.pda_mac_no %></td>
          <td style= "text-align: left;"><%= r.inspector %></td>
          <td style= "text-align: left;"><%= r.start %></td>
          <td style= "text-align: left;"><%= r.finish %></td>
          <td style= "text-align: left;"><%= r.total %></td>
          <td style= "text-align: left;"><%= r.location %></td>
          <td style= "text-align: left;"><%= r.sku %></td>
          <td style= "text-align: left;"><%= number_with_delimiter(r.total_qty.to_f.round(2)) %></td>
          <td style= "text-align: left;"><%= number_with_delimiter(r.value.to_f.round(2)) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<%= will_paginate @performance_reports, renderer: BootstrapPagination::Rails  %>
