<h2>Zero Count Reports </h2>
<div class="media">
<div class="media-body">
  <%= form_tag(zero_counts_masters_path, :method => "get", class: 'navbar-form navbar-left') do %>
  <div class="input-group">
    <%= select_tag :dept, options_for_select(@departements, params[:dept]), prompt: "All departments", class: "form-control" %>
  </div>
  <div class="input-group">
        <%= select_tag :sort_by, options_for_select([['Ascending', 'asc'], ['Descending', 'desc']], params[:sort_by]), class: "form-control" %>
  </div> 
  <div class="input-group">
  <div class="input-group-btn">
      <%= button_tag " Search", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
      <%= button_tag " Print", :class => 'btn btn-default glyphicon glyphicon-print',:name => 'print', value: 1%>
      <%= button_tag " Regenerate", :class => 'btn btn-default glyphicon glyphicon-retweet',:name => 'regenerate', value: 1%>
      <%= button_tag " Export", :class => 'btn btn-default glyphicon glyphicon-export', :name => 'export', value: 1 %>
  </div>
  </div>
<% end %>
</div>
</div>
<br/>

<div class="table-wrapper">
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th style= "text-align: left;">ReportName</th>
      <th style= "text-align: left;">PrintDate</th>
      <th style= "text-align: left;">SKU</th>
      <th style= "text-align: left;">BarcodeIBC</th>
      <th style= "text-align: left;">BarcodeSBC</th>
      <th style= "text-align: left;">ProductName</th>
      <th style= "text-align: left;">Brand</th>
      <th style= "text-align: left;">Model</th>
      <th style= "text-align: left;">CountQTY</th>
      <th style= "text-align: left;">Variance</th>
      <th style= "text-align: left;">Total</th>
      <th style= "text-align: left;">Dept</th>
    </tr>
  </thead>

  <tbody>
    <% @zero_counts.each do |r| %>
      <tr>
        <td style= "text-align: left;"><%= r.master.CountName %><%= r.master.DeptName %></td>
        <td style= "text-align: left;"><%= r.created_at %></td>
        <td style= "text-align: left;"><%= r.SKU %></td>
        <td style= "text-align: left;"><%= r.master.BarcodeIBC %></td>
        <td style= "text-align: left;"><%= r.master.BarcodeSBC %></td>
        <td style= "text-align: left;"><%= r.ProductName %></td>
        <td style= "text-align: left;"><%= r.Brand %></td>
        <td style= "text-align: left;"><%= r.Model %></td>
        <td style= "text-align: left;">0</td>
        <td style= "text-align: left;"><%= number_with_delimiter((0-r.Stock.to_f * r.Cost.to_f).round(2)) %></td>
        <td style= "text-align: left;"><%= number_with_delimiter((0-r.Stock.to_f * r.Cost.to_f).round(2)) %></td>
        <td style= "text-align: left;"><%= r.DeptName %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= will_paginate @zero_counts, renderer: BootstrapPagination::Rails  %>

